body {
    background: #f4f7f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.login-card {
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    border-top: 5px solid #0d6efd; /* Marco superior de color */
    transition: transform 0.3s ease;
}


.login-card:hover {
    transform: translateY(-5px);
}


.custom-input {
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #ddd;
    transition: all 0.3s ease-in-out;
}


.custom-input:focus {
    box-shadow: 0 0 8px rgba(13, 110, 253, 0.25);
    border-color: #0d6efd;
    transform: scale(1.01);
}


.btn-login {
    background: linear-gradient(45deg, #0d6efd, #004bb5);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-login:hover {
    background: linear-gradient(45deg, #004bb5, #0d6efd);
}



.balance-section {
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}

.balance-section:hover {
    background-color: #f8f9fa !important;
    border-color: #0d6efd;
}

#saldo-cuenta {
    font-size: 2rem;
    letter-spacing: -1px;
}


.list-group-item {
    border-left: none;
    border-right: none;
    transition: background 0.2s;
}

.list-group-item:hover {
    background-color: #f8f9fa !important;
}


.scroll-area::-webkit-scrollbar {
    width: 5px;
}
.scroll-area::-webkit-scrollbar-thumb {
    background: #0d6efd;
    border-radius: 10px;
}